<div class="phone" align="left">
    <b>
        <h3> Smart Phone</h3>
    </b>

</div>
<div>
    <img class="image" src="https://images-na.ssl-images-amazon.com/images/I/31Z2ee9oYQL.jpg"
        class="d-block w-150 rounded-3" alt="Product Image" style="width:850px; height:250px;">
</div>
<div class="">
    <div class="col-md-3 col-lg-9 col-xl-2" style="width: 45%; height:30%; float: left; margin-top:1px;">

        <h4>$ 300.00 &nbsp; <del>$320.00</del></h4>&nbsp;
        <br><br>

        <button (click)="buyNow(product)" data-testid="product_page_buynow" class="btn btn-primary me-3">Buy
            Now</button>
        <br>&nbsp;&nbsp;
        <button (click)="addToCart(product)" data-testid="product_page_add_to_cart" class="btn btn-success">Add to Cart</button>

    </div>
    <div style="margin-left: 0%; height: 175px; width: 31%;">

        <div class="col-md-3 col-lg-4 col-xl-12" style="width: 45%; height:30%; margin-top:0px;">
            <p>
                Packed with Innovative Features Including a Super Retina Display, TrueDepth Camera System, Face ID and
                A11 Bionic Chip with Neural Engine


            </p>
        </div>
    </div>

</div>


    <div align="center">
        <h2>Recommended Products</h2>
    </div>
    <div class="">
        <div class="card" *ngFor="let product of productList.slice(0, 6)">
            <div class="content" align="center">

                <div class="card-body">
                    <p class="card-title">{{product.productName}}</p>
                </div>
                <a [routerLink]="['/product-detail', product.id]" (click)="refresh"><img src="{{ product.image }}"
                        alt="{{ product.productName }}" width="100%" height="225" style="object-fit: cover;"></a>



                <div class="card-body">
                    <small class="text-muted1">{{product.price |currency}}</small>&nbsp;

                </div>
                <br>
                <div class="card-footer text-muted">
                    <!-- <button class="btn btn-primary" routerLink="/product-details">Product details</button> &nbsp; -->
                    &nbsp;<button class="btn btn-primary" routerLink="/cart">Add to Cart</button>
                </div>

            </div>
        </div>

    
