<div id="container">
  <div id="header">
    <nav class="navbar navbar-expand-lg navbar-light background-color">

      <a class="navbar-brand icon-font" href="#">Shop 24x7</a>
      
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
        <ul class="navbar-nav mr-auto">
  
          <li class="nav-item nav-text-font">
            <a class="nav-link" href="#">Home</a>
          </li>
          
          <li class="nav-item nav-text-font">
            <a class="nav-link" href="#">Departments</a>
          </li>
  
          <li class="nav-item nav-text-font">
            <a class="nav-link" href="#">Offers</a>
          </li>
  
          <li class="nav-item nav-text-font">
              <a class="nav-link" href="#">Profile</a>
          </li>
  
        </ul>
  
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
  
      <ul class="navbar-nav mr-auto mr-sm-2">
        
         <a class="nav-link" href="#"> <img src="assets\icons\noun-shopping-cart-1009485.png" alt="" width="80px" height="50px"></a>
       
      </ul>
  
      </div>
    </nav>
  
  
  </div>


  <div id="body">
 
    <h4 class="align-h4">Add New User</h4>
    <div class="center">
       
                <form [formGroup]="adminAddNewUserForm" (ngSubmit)="onSubmit()">
    
                    <div class="mb-3">
                        <label class="label-font">First Name</label>
                        <input type="text" class="form-control input-curve" formControlName="firstName" name="firstName" placeholder="First Name" [ngClass]="{ 'is-invalid': isadminAddNewUserFormSubmitted && adminFormControls.firstName.errors}"/>
                        <div *ngIf="isadminAddNewUserFormSubmitted && adminFormControls.firstName.errors" class="invalid-feedback">
                          <div *ngIf="adminFormControls.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
            
                    <div class="mb-3">
                        <label class="label-font">Last Name</label>
                        <input type="text" class="form-control input-curve" formControlName="lastName" name="lastName" placeholder="Last Name"[ngClass]="{ 'is-invalid': isadminAddNewUserFormSubmitted && adminFormControls.lastName.errors}"/>
                        <div *ngIf="isadminAddNewUserFormSubmitted && adminFormControls.lastName.errors" class="invalid-feedback">
                          <div *ngIf="adminFormControls.lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>
            
                    <div class="mb-3">
                        <label class="label-font">Email</label>
                        <input type="text" class="form-control input-curve" formControlName="email" name="email" placeholder="Email"[ngClass]="{ 'is-invalid': isadminAddNewUserFormSubmitted && adminFormControls.email.errors}"/>
                        <div *ngIf="isadminAddNewUserFormSubmitted && adminFormControls.email.errors" class="invalid-feedback">
                          <div *ngIf="adminFormControls.email.errors.required">Email is required</div>
                        </div>
                    </div>
            
                    <div class="mb-3">
                        <label class="label-font">Password</label>
                        <input type="password" class="form-control input-curve" formControlName="password" name="password" placeholder="Password"[ngClass]="{ 'is-invalid': isadminAddNewUserFormSubmitted && adminFormControls.password.errors}"/>
                        <div *ngIf="isadminAddNewUserFormSubmitted && adminFormControls.password.errors" class="invalid-feedback">
                          <div *ngIf="adminFormControls.password.errors.required">Password is required</div>
                        </div>
                    </div>
    
                    
                    
                    <button class="button button1" type="submit">Submit</button>
                   
                </form>
    </div>

  </div>

  <div id="footer">
    <div class=" p-4 background-color font">© 2021 Copyright
    </div>
  </div>

</div>

 