<div id="container">
    <div id="header">
        <nav class="navbar navbar-expand-lg navbar-light background-color">
    
          <a class="navbar-brand icon-font" href="#">Shop 24x7</a>
          
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
            <ul class="navbar-nav mr-auto">
      
              <li class="nav-item nav-text-font">
                <a class="nav-link" href="#">Home</a>
              </li>
              
              <li class="nav-item nav-text-font">
                <a class="nav-link" href="#">Departments</a>
              </li>
      
              <li class="nav-item nav-text-font">
                <a class="nav-link" href="#">Offers</a>
              </li>
      
              <li class="nav-item nav-text-font">
                  <a class="nav-link" href="#">Profile</a>
              </li>
      
            </ul>
      
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </form>
      
          <ul class="navbar-nav mr-auto mr-sm-2">
            
             <a class="nav-link" href="#"> <img src="assets\icons\noun-shopping-cart-1009485.png" alt="" width="80px" height="50px"></a>
           
          </ul>
      
          </div>
        </nav>
      
      
 </div>
    
<div id="body">
 
<h4>Manage User</h4>
<br>
  <table class="table">
    <thead>
      <tr>
       
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>1</td>
        <td>
            <button>Edit</button>&nbsp;
            <button>Delete</button>
        </td>
      </tr>
      <tr>
        
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>
            <button>Edit</button>&nbsp;
            <button>Delete</button>
        </td>
      </tr>
      <tr>
       
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@twitter</td>
        <td>
            <button>Edit</button>&nbsp;
            <button>Delete</button>
        </td>
      </tr>
      <tr>
       
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@twitter</td>
        <td>
            <button>Edit</button>&nbsp;
            <button>Delete</button>
        </td>
      </tr>
      <tr>
       
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@twitter</td>
        <td>
            <button>Edit</button>&nbsp;
            <button>Delete</button>
        </td>
      </tr>
      <tr>
       
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@twitter</td>
        <td>
            <button>Edit</button>&nbsp;
            <button>Delete</button>
        </td>
      </tr>
      <tr>
       
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@twitter</td>
        <td>
            <button>Edit</button>&nbsp;
            <button>Delete</button>
        </td>
      </tr>
      <tr>
       
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@twitter</td>
        <td>
            <button>Edit</button>&nbsp;
            <button>Delete</button>
        </td>
      </tr>
      <tr>
       
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@twitter</td>
        <td>
            <button>Edit</button>&nbsp;
            <button>Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<div id="footer">
    <div class=" p-4 background-color font">© 2021 Copyright
    </div>
</div>

</div>