<div align="center">
    <br><br><br><br>
    <h3>Adding users Section </h3>
    <button class="btn btn-success" routerLink="/admin/addUser">Manage New Users</button>&nbsp;&nbsp;
    
    <br><br><br><br>
    <h3>Products Section </h3>
    <button class="btn btn-success" routerLink="/admin/add-new-product">Manage New Product</button> &nbsp;
    
    <br><br><br><br>
    <h3>Orders Section </h3>
    <button class="btn btn-success" routerLink="/order">Manage Orders</button>&nbsp;
    


</div>
<br><br><br><br><br><br><br><br>