<div align="center">
    <br><br><br><br>
    <h3>Adding users Section </h3>
    <button class="btn btn-success" routerLink="/admin/addUser">Add New users</button>&nbsp;&nbsp;
    <button class="btn btn-success" routerLink="/admin/editUser">Edit users</button>&nbsp;&nbsp;
    <button class="btn btn-success">Delete users</button>
    <br><br><br><br>
    <h3>Products Section </h3>
    <button class="btn btn-success" routerLink="/admin/add-new-product">Add New Product</button> &nbsp;
    <button class="btn btn-success">Edit New Product</button>&nbsp;
    <button class="btn btn-success">Delete Products</button>
    <br><br><br><br>
    <h3>Orders Section </h3>
    <button class="btn btn-success">Process Orders</button>&nbsp;
    <button class="btn btn-success">Delete Order</button>


</div>
<br><br><br><br><br><br><br><br>