<div class="signup-form">
    <br>
    &nbsp;<h3>  Welcome to Admin Portal</h3>
    <br>
    <form (ngSubmit)="onSubmit()">



        <!--Email Field-->

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" [(ngModel)]="admin.email" name="email" required email />

        </div>



        <!--Password Field-->
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" [(ngModel)]="admin.password" name="password" required />
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Log In</button>
        </div>


    </form>

</div>
<br><br><br><br><br><br><br><br>