<div>
  <div class="col-md-4 col-lg-9 col-xl-10" style="width: 45%; height:30%; float: left; margin-top:1px;">
    <h4><b>Welcome to Shop 24x7</b></h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
  <div style="margin-left: 50%; height: 100px; width: 45%;">

    <div class="container">

      <form [formGroup]="userForm" (ngSubmit)="onSubmit()" align="left">
        <h3><b>Login</b></h3>

        <div class="form">

          <br>
          <div class="form-group col-md-10">
            Email
            <input formControlName="email" type="text" data-testid="login_email" class="form-control" id="email"
              [ngClass]="{ 'is-invalid': isUserFormSubmitted && userFormControls.email.errors}" required>
            <div *ngIf="isUserFormSubmitted && userFormControls.email.errors" class="invalid-feedback">
              <div *ngIf="userFormControls.email.errors.required">Email is required </div>
            </div>
          </div>

          <div class="form-group col-md-10">
            Password
            <input formControlName="password" type="password" data-testid="login_password" class="form-control" id="password"
              [ngClass]="{ 'is-invalid': isUserFormSubmitted && userFormControls.password.errors}" required />
            <div *ngIf="isUserFormSubmitted && userFormControls.password.errors" class="invalid-feedback">
              <div *ngIf="userFormControls.password.errors.required">Password is required </div>
            </div>
          </div>

          <div align="center">
            <button type="submit" name="login_submit" class="btn btn-success" size="10" [disabled]="loading">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Log in</button><br><br>
            <a routerLink="/register" align="center"><span>Create Account / Register?</span></a>
          </div>
        </div>

      </form>
    </div>

  </div>

</div>
<div *ngIf="isUserFormSubmitted"> </div>
<div class="checkout1">
  <div>

  </div>
</div>
<router-outlet></router-outlet>
