<div id="container">
    <div id="header">
      <nav class="navbar navbar-expand-lg navbar-light background-color">
  
        <a class="navbar-brand icon-font" href="#">Shop 24x7</a>
        
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
          <ul class="navbar-nav mr-auto">
    
            <li class="nav-item nav-text-font">
              <a class="nav-link" href="#">Home</a>
            </li>
            
            <li class="nav-item nav-text-font">
              <a class="nav-link" href="#">Departments</a>
            </li>
    
            <li class="nav-item nav-text-font">
              <a class="nav-link" href="#">Offers</a>
            </li>
    
            <li class="nav-item nav-text-font">
                <a class="nav-link" href="#">Profile</a>
            </li>
    
          </ul>
    
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          </form>
    
        <ul class="navbar-nav mr-auto mr-sm-2">
          
           <a class="nav-link" href="#"> <img src="assets\icons\noun-shopping-cart-1009485.png" alt="" width="80px" height="50px"></a>
         
        </ul>
    
        </div>
      </nav>
    
    
    </div>
  
  
    <div id="body">
   
      <h4 class="align-h4">Add New Product</h4>
      <div class="center">
         
                  <form [formGroup]="adminAddNewProductForm" (ngSubmit)="onSubmit()">
      
                      <div class="mb-3">
                          <label class="label-font">Product Name</label>
                          <input type="text" class="form-control input-curve" formControlName="productname" name="productname" placeholder="Product Name" [ngClass]="{ 'is-invalid': isadminAddNewProductFormSubmitted && adminFormControls.productname.errors}"/>
                          <div *ngIf="isadminAddNewProductFormSubmitted && adminFormControls.productname.errors" class="invalid-feedback">
                            <div *ngIf="adminFormControls.productname.errors.required">Product Name is required</div>
                            <div *ngIf="adminFormControls.productname.errors.maxlength">Max Length is 64 chars</div>
                          </div>
                      </div>
              
                      <div class="mb-3">
                          <label class="label-font">Department</label>
                          <input type="text" class="form-control input-curve" formControlName="department" name="department" placeholder="Department" [ngClass]="{ 'is-invalid': isadminAddNewProductFormSubmitted && adminFormControls.department.errors}"/>
                          <div *ngIf="isadminAddNewProductFormSubmitted && adminFormControls.department.errors" class="invalid-feedback">
                            <div *ngIf="adminFormControls.department.errors.required">Department is required</div>
                          </div>
                      </div>
              
                      <div class="mb-3">
                          <label class="label-font">Price</label>
                          <input type="text" class="form-control input-curve" formControlName="price" name="price" placeholder="Price" [ngClass]="{ 'is-invalid': isadminAddNewProductFormSubmitted && adminFormControls.price.errors}"/>
                          <div *ngIf="isadminAddNewProductFormSubmitted && adminFormControls.price.errors" class="invalid-feedback">
                            <div *ngIf="adminFormControls.price.errors.required">Price is required</div>
                          </div>
                      </div>
              
                      <div class="mb-3">
                          <label class="label-font">Discount Price</label>
                          <input type="text" class="form-control input-curve" formControlName="discountprice" name="discountprice" placeholder="Discount Price" [ngClass]="{ 'is-invalid': isadminAddNewProductFormSubmitted && adminFormControls.discountprice.errors}"/>
                          <div *ngIf="isadminAddNewProductFormSubmitted && adminFormControls.discountprice.errors" class="invalid-feedback">
                            <div *ngIf="adminFormControls.discountprice.errors.required">Discount Price is required</div>
                            <div *ngIf="adminFormControls.discountprice.errors.mustMatch">Discount Price Should be less than Actual Price</div>
                          </div>
                      </div>

                      <div class="mb-3">
                        <label class="label-font">Product Image</label>
                        <input type="text" class="form-control input-curve" formControlName="productimage" name="productimage" placeholder="Product Image" [ngClass]="{ 'is-invalid': isadminAddNewProductFormSubmitted && adminFormControls.productimage.errors}"/>
                        <div *ngIf="isadminAddNewProductFormSubmitted && adminFormControls.productimage.errors" class="invalid-feedback">
                          <div *ngIf="adminFormControls.productimage.errors.required">Product Image is required</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="label-font">Product Description</label>
                        <input type="text" class="form-control input-curve input-size" formControlName="productdescription" name="productdescription" placeholder="Product Description" [ngClass]="{ 'is-invalid': isadminAddNewProductFormSubmitted && adminFormControls.productdescription.errors}"/>
                        <div *ngIf="isadminAddNewProductFormSubmitted && adminFormControls.productdescription.errors" class="invalid-feedback">
                          <div *ngIf="adminFormControls.productdescription.errors.required">Product Description is required</div>
                          <div *ngIf="adminFormControls.productdescription.errors.minlength">Min Length is 20 chars</div>
                        </div>
                    </div>

                    <div>
                        <label class="label-font">Top Selling Product</label> &nbsp;
                        <input type="checkbox" class="checkbox" formControlName="checkbox" name="checkbox" />
                    </div>

                    <button data-testid="add-new-button"class="button button1" type="submit" >Add New Product</button>
                     
                  </form>
      </div>
  
    </div>
  
    <div id="footer">
      <div class=" p-4 background-color font">© 2021 Copyright
      </div>
    </div>
  
  </div>
  
   