<div id="container">
    <div id="header">
        <nav class="navbar navbar-expand-lg navbar-light background-color">
    
          <a class="navbar-brand icon-font" href="#">Shop 24x7</a>
          
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
            <ul class="navbar-nav mr-auto">
      
              <li class="nav-item nav-text-font">
                <a class="nav-link" href="#">Home</a>
              </li>
              
              <li class="nav-item nav-text-font">
                <a class="nav-link" href="#">Departments</a>
              </li>
      
              <li class="nav-item nav-text-font">
                <a class="nav-link" href="#">Offers</a>
              </li>
      
              <li class="nav-item nav-text-font">
                  <a class="nav-link" href="#">Profile</a>
              </li>
      
            </ul>
      
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </form>
      
          <ul class="navbar-nav mr-auto mr-sm-2">
            
             <a class="nav-link" href="#"> <img src="assets\icons\noun-shopping-cart-1009485.png" alt="" width="80px" height="50px"></a>
           
          </ul>
      
          </div>
        </nav>
      
      
 </div>
    
<div id="body">

<div>
  <h4 class="float-left"><span class="label label-default">Manage products</span></h4>&nbsp;

<div class="float-left">  
    <button type="button" class="btn btn-primary products-button" [routerLink]="['/admin/add-new-product']">Add New Products</button>
</div>
</div>
 

<br>
  <table class="table">
    
    <tbody>
     
      <tr>
       
        <td>Smart Phone</td>
       
        <td>
            <button class="btn btn-info">Edit</button>&nbsp;
            <button class="btn btn-danger mx-3">Delete</button>
        </td>
      </tr>
      
      <tr>
       
        <td>Larry</td>
        
        <td>
          <button class="btn btn-primary">Edit</button>&nbsp;
          <button class="btn btn-primary products-button">Delete</button>
      </td>
      </tr>
      <tr>
       
        <td>Larry</td>
        
        <td>
          <button class="btn btn-primary">Edit</button>&nbsp;
          <button class="btn btn-primary products-button">Delete</button>
      </td>
      </tr>
    </tbody>
  </table>

</div>

<div id="footer">
    <div class=" p-4 background-color font">2021 Copyright
    </div>
</div>

</div>