<div>
  <div class="col-md-4 col-lg-9 col-xl-10" style="width: 45%; height:30%; float: left; margin-top:1px;">
    <h4><b>Welcome to Shop 24x7</b></h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>

  <div style="margin-left: 50%; height: 100px; width: 45%;">


    <div class="container">
      <form class="form-inline" [formGroup]="userForm" (ngSubmit)="onSubmit()"
        [mustMatch]="['password','confirmpassword']">
        <div class="form" align="left"><br>
          <h3 align="center"><b>Register</b></h3>

          <div class="user-details">
            <div class="form-group col-md-7">
              <span>Firstname</span>
              <input formControlName="firstName" type="text" data-testid="register_first_name" class="form-control" id="firstName"
                [ngClass]="{ 'is-invalid': isUserFormSubmitted && userFormControls.firstName.errors}"
                required>
              <div *ngIf="isUserFormSubmitted && userFormControls.firstName.errors" class="invalid-feedback">
                <div *ngIf="userFormControls.firstName.errors.required">First name is required and must be a
                  valid name</div>
              </div>

            </div>
            <div class="form-group col-md-7">
              <span>Lastname</span>
              <input formControlName="lastName" type="text" class="form-control" id="lastname" data-testid="register_last_name"
                [ngClass]="{ 'is-invalid': isUserFormSubmitted && userFormControls.lastName.errors}" required>

              <div *ngIf="isUserFormSubmitted && userFormControls.lastName.errors" class="invalid-feedback">
                <div *ngIf="userFormControls.lastName.errors.required">Last name is required and must be a
                  valid
                  name</div>
              </div>
            </div>
          </div>

          <div class="form-group col-md-8">
            <span>Email</span>

            <input formControlName="email" type="email" data-testid="register_email" class="form-control" id="email"
              [ngClass]="{ 'is-invalid': isUserFormSubmitted && userFormControls.email.errors}" required>
            <div *ngIf="isUserFormSubmitted && userFormControls.email.errors" class="invalid-feedback">
              <div *ngIf="userFormControls.email.errors.required">Email is required</div>
              <div *ngIf="userFormControls.email.errors.email">Enter valid email address, eg,. john@example.com
              </div>
            </div>
          </div>


          <div class="user-details">
            <div class="form-group col-md-7">
              <span>Password</span>
              <input formControlName="password" type="password" class="form-control" id="password" data-testid="register_password"
                [ngClass]="{ 'is-invalid': isUserFormSubmitted && userFormControls.password.errors}"
                required />
              <div *ngIf="isUserFormSubmitted && userFormControls.password.errors" class="invalid-feedback">
                <div *ngIf="userFormControls.password.errors.required">Password is required</div>
                <div *ngIf="userFormControls.password.errors.minlength">Password must be atleast 6 characters
                </div>
              </div>
            </div>
            <div class="form-group col-md-7">
              <span>Confirm Password</span> &nbsp;
              <input formControlName="confirmpassword" type="password" data-testid="register_confirm_password" class="form-control"
                id="confirmpassword"
                [ngClass]="{ 'is-invalid': isUserFormSubmitted && userFormControls.confirmpassword.errors}" />
              <div *ngIf="isUserFormSubmitted && userFormControls.confirmpassword.errors"
                class="invalid-feedback">
                <div *ngIf="userFormControls.confirmpassword.errors.required">Confirm Password is required
                </div>
                <div *ngIf="userFormControls.confirmpassword.errors.mustMatch">Password mismatch</div>
              </div>
            </div>
          </div>
          <br>
          <div align="right">
            <button type="submit" class="btn btn-success" name="register_submit" [disabled]="loading">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Register</button><br>
            <span>Already have an account?</span> &nbsp; <a routerLink="/login" color="blue">Login</a>
          </div>
        </div>

      </form>

    </div>

  </div>

</div>
<div *ngIf="isUserFormSubmitted"> </div>
<div class="checkout1">
  <div>

  </div>
</div>

<router-outlet></router-outlet>
